@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="RegistrationForm">Please Register to Use the Computer</a>
    <img src="https://i.pinimg.com/originals/4b/06/6f/4b066fce62fd8f306443832e95183f0f.jpg" alt="central perk">
</div>
